include LICENSE *.rst *.toml *.yml *.yaml
# Tests
recursive-include tests *.py
# Documentation
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build